In [1]:
from ShpExplorer import ShpExplorer

explo = ShpExplorer()

shapefile  ="/home/hamza/Data/phd/STARWARS/project/dataset/private/accessories/1704-M3M-A_ACCESSOIRE.shp"
explo.field_types(shapefile=shapefile)

Processing /home/hamza/Data/phd/STARWARS/project/dataset/private/accessories/1704-M3M-A_ACCESSOIRE.shp

,type,max,min,values set,filled values
COMMUNE,Number,34327.0,34057.0,None,119/119
MSLINK,Number,301.0,3.0,None,119/119
CODE_CONT,Categorical-String,None,None,"[J3561, J3551]",119/119
TYPE,Categorical-String,None,None,"[Vidange, Ventouse, sonde US, Vanne, debitmetr...",119/119